services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: books-server
    ports:
      - "5001:5000"
    environment:
      - PORT=5000
      - HOST=0.0.0.0

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: books-client
    depends_on:
      - server
    ports:
      - "3000:3000"
    environment:
      - HOST=0.0.0.0
      - REACT_APP_API_BASE_URL=http://localhost:5001
