name: Test

on:
    push:
      branches: [ "master" ]
    pull_request: {}

jobs:
  node-testing:
    name: Node Testing
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run npm ci
        working-directory: ./server
        run: npm ci
      - name: NPM Build
        working-directory: ./server
        run: npm run build --if-present
      - name: NPM Test
        working-directory: ./server
        run: npm test


  react-testing:
    name: React Testing
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: NPM ci
        working-directory: ./client
        run: npm ci
      - name: NPM Build
        working-directory: ./client
        run: npm run build --if-present
      - name: NPM Test
        working-directory: ./client
        run: npm test
